<main>
    {{#each deletado}}
    <div class="alert alert-success">{{texto}}</div>
    {{else}}
    {{/each}}

    <div class="container py-3">
        <header class="pb-3 mb-3 border-bottom">
            <a href="/home" class="d-flex align-items-center text-dark text-decoration-none">
                <img src="img/logo.svg" alt="" width="40" height="32" title="ContÁgil">
                <span class="fs-4">InventÁgil</span>
            </a>
        </header>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item"><a href="/estoque">Estoque</a></li>
                <li class="breadcrumb-item active" aria-current="page">Filtro de categoria</li>
            </ol>
        </nav>

        <div class="col-md-6 pb-4 py-2">
            <div class=" p-5 bg-light border rounded-3">
                <h2>Cadastrar Produto</h2>
                <p>Cadastrar um produto no estoque de insumos da ContÁgil.</p>
                <a href="/estoqueCriar"><button class="btn btn-outline-secondary" type="button">Acessar</button></a>
            </div>
            
        </div>

        <div class="col-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Pesquisar produto" name="pesquisarProduto"
                    required>
                <label for="floatingInput">Filtrar produto</label>
            </div>
        </div>
        
        <a href="/estoqueFiltradoProduto"><button class="btn btn-outline-secondary" type="button">Pesquisar produto</button></a>
        <!--<a href="/estoqueFiltradoProduto"><button>Pesquisar produto</button></a>-->

        <div class="col-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Produto" name="produtoFiltro"
                    required>
                <label for="floatingInput">Filtrar categoria</label>
            </div>
        </div>

        <a href="/estoqueFiltradoCategoria"><button class="btn btn-outline-secondary" type="button">Pesquisar Categoria</button></a>
        <!--<a href="/estoqueFiltradoCategoria"><button>Pesquisar Categoria</button></a>-->
    
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Produto</th>
                    <th scope="col">Quatidade</th>
                    <th scope="col">Categoria</th>
                    <!--<th scope="col">Criado em</th>-->
                    <th scope="col">Atualizado em</th>
                    <th scope="col">Opções</th>
                </tr>
            </thead>
            <tbody>
                {{#each produtos}}
                <tr>
                    <td>{{dataValues.produto}}</td>
                    <td>{{dataValues.quantidade}}</td>
                    <td>{{dataValues.categoria}}</td>
                    <!--<td>{{dataValues.createdAt}}</td>-->
                    <td>{{dataValues.updatedAt}}</td>
                    <td>
                        <!--<a href="#" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i>Editar</a>-->
                        <a href="/editarProduto" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i>Editar</a>
                        <a href="/estoqueDeletarFiltradoCategoria/{{dataValues.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-trash"></i>Excluir</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
        <footer class="pt-3 mt-4 text-muted border-top">
            &copy; ContÁgil 2022
        </footer>
    </div>
</main>
